*{margin:0px;
    padding:0px; }

.course-container{
    background-color: white;
    width: 250px;
    box-shadow: rgb(0 48 110 / 10%) 0px 1px 2px 0px;
    border-radius: 8px;
    margin-top:30px;
    margin-right:30px;
}
.course-details{
    padding: 10px 20px 20px 20px;
    height: 200px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    position: relative;
    padding-right:8px;
    width: 250px;
}
.course-image{
    height:140px;
    width: 250px;
    border-radius: 8px 8px 0px 0px;
    object-fit: cover;
}
.course-title{
    margin-bottom:8px;
    white-space: pre-wrap;
    font-weight: 600;
    font-size: 18px;
    color: rgb(82, 96, 109);
    display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
    line-height:1.2;
    
}
.course-info{
    color: #607786;
    font-size:16px;
    align-self:flex-start;
    line-height:1.6;
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.enroll{
   margin-top:12px;
    align-self:flex-end;
    width:72px;
  min-height:30px;
    outline:none;
    border:none;
    border-radius:4px;
    background:#e6f0fd;
    color:#3667D3;
    font-weight: 500;
    display: inline-block;

}
.enrolled{
    margin-top:12px;
    align-self:flex-end;
    width:80px;
  min-height:30px;
    outline:none;
    border-radius:4px;
border:1px solid #3667D3;
    color:#3667D3;
    display: inline-block;
    background:transparent;
    font-weight:600;
    
}
.nav-link{
  font-size: small;
  text-decoration-style: none;
}
@media screen and (max-width: 1020px) {
  .course-container{
    margin-right:20px !important;
  }
}
@media screen and (max-width:400px){
  .profile-container2{
    padding:30px 20px 20px 20px !important;
  }
}
@media screen and (max-width:342px){
  .course-container,.course-details,.course-image{
    width:220px !important;
  }
  
}